.cart-title {
    margin-bottom: 20px;
}

.cart-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.cart-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.cart-item-image {
    width: 120px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.item-producent {
    color: #8b8b8b;
    font-size: 0.9rem;
}

.cart-item-details {
    text-align: left;
    flex: 1;
}

.price-old {
    text-decoration: line-through;
    color: #888;
}

.price-new {
    font-weight: bold;
    color: #7ccb65;
    font-size: 1.2rem;
}

.price {
    margin-top: 10px;
    font-weight: bold;
    color: #00c6ff;
    font-size: 1.2rem;
}

.remove-from-cart-button {
    padding: 8px 10px;
    margin-left: 10px;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.remove-from-cart-button:hover {
    background-color: #e63939;
}

.pagination {
    margin: 30px 0;
    text-align: center;
}

.pagination-button {
    display: inline-block;
    margin: 0 5px;
    padding: 8px 14px;
    background-color: #eee;
    color: #333;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.pagination-button:hover {
    background-color: #ddd;
}

.pagination-button.active {
    background-color: #00c6ff;
    color: #fff;
    font-weight: bold;
}

.cart-quantity-input {
    margin-top: 10px;
    width: min-content;
    padding: 8px 4px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    color: #333;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


.cart-quantity-input::-webkit-inner-spin-button,
.cart-quantity-input::-webkit-outer-spin-button {
    opacity: 0.5;
}

.modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}