@import url('/Hi-Tech/src/pages/login/login.css');
@import url('/Hi-Tech/src/pages/forgot_password/forgot_password.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


